IMPORTING LIBRARIES

In [18]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [19]:
jaundice_data=pd.read_csv("/content/JaundiceDataSet.csv")
jaundice_data.head()

,id,name,gender,age,fever,chills,abdominal_pain,yellowing_of_skin,yellowing_of_eyes,dark_colored_urine,target
0,1,Vincent Tamblyn,Male,68,1,1,0,0,0,0,0
1,2,Mariquilla O'Duilleain,Female,3,1,1,0,0,1,1,1
2,3,Lia Stollwerck,Female,12,1,0,0,1,1,0,1
3,4,Larisa Kovnot,Female,6,1,1,1,1,1,0,1
4,5,Brett Livsey,Male,20,1,1,1,0,1,0,0

In [20]:
jaundice_data.shape

(250, 11)

In [21]:
jaundice_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  250 non-null    int64
 1   name                250 non-null    object
 2   gender              250 non-null    object
 3   age                 250 non-null    int64
 4   fever               250 non-null    int64
 5   chills              250 non-null    int64
 6   abdominal_pain      250 non-null    int64
 7   yellowing_of_skin   250 non-null    int64
 8   yellowing_of_eyes   250 non-null    int64
 9   dark_colored_urine  250 non-null    int64
 10  target              250 non-null    int64
dtypes: int64(9), object(2)
memory usage: 21.6+ KB

CHECKING FOR MISSING VALUES

In [22]:
jaundice_data.isnull().sum()

id                    0
name                  0
gender                0
age                   0
fever                 0
chills                0
abdominal_pain        0
yellowing_of_skin     0
yellowing_of_eyes     0
dark_colored_urine    0
target                0
dtype: int64

CHECKING THE TARGET VALUES

In [23]:
jaundice_data['target'].value_counts()

1    134
0    116
Name: target, dtype: int64

1-->HAVE JAUNDICE
0-->DOESNT HAVE JAUNDICE

In [24]:
X=jaundice_data.drop(['target','name','gender','id'],axis=1)
Y=jaundice_data["target"]
print(X)

     age  fever  chills  abdominal_pain  yellowing_of_skin  yellowing_of_eyes  \
0     68      1       1               0                  0                  0
1      3      1       1               0                  0                  1
2     12      1       0               0                  1                  1
3      6      1       1               1                  1                  1
4     20      1       1               1                  0                  1
..   ...    ...     ...             ...                ...                ...
245    6      1       0               0                  0                  1
246    4      1       0               1                  0                  1
247   70      1       1               0                  1                  0
248   47      1       1               1                  1                  0
249   10      1       1               1                  0                  0

     dark_colored_urine
0                     0
1                     1
2                     0
3                     0
4                     0
..                  ...
245                   1
246                   0
247                   0
248                   0
249                   0

[250 rows x 7 columns]

In [25]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)
print(Y_train)

99     0
161    1
115    1
78     1
213    1
      ..
154    1
190    0
112    1
1      1
15     1
Name: target, Length: 200, dtype: int64

In [26]:
model=LogisticRegression()

In [27]:
model.fit(X_train,Y_train)

LogisticRegression()

ACCURACY

In [28]:
X_train_prediction=model.predict(X_train)
X_train_accuracy=accuracy_score(X_train_prediction,Y_train)

In [29]:
X_test_prediction=model.predict(X_test)
X_test_accuracy=accuracy_score(X_test_prediction,Y_test)

In [33]:
input_data=()
input_data_as_array=np.asarray(input_data)
input_data_reshaped=input_data_as_array.reshape(1,-1)
prediction=model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]==1):
  print("YOU HAVE JAUNDICE")
else:
  print("YOU DON'T HAVE JAUNDICE")

[1]
YOU HAVE JAUNDICE

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(