In [27]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split

In [11]:
thypoid_data=pd.read_csv("/content/ThypoidDataSet.csv")
thypoid_data.head()

,id,name,gender,age,fever,chills,bloating,red_dots_on_skin,loss_of_appetite,target
0,1,Bernardina Ferriere,Female,61,1,0,0,0,1,0
1,2,Deloris Rubinivitz,Female,49,1,0,0,0,0,0
2,3,Maxine Tittershill,Female,27,1,0,1,0,0,0
3,4,Jodie Pead,Female,34,1,1,1,0,0,0
4,5,Hughie McDougall,Male,32,1,0,0,1,1,1

In [13]:
thypoid_data['target'].value_counts()

0    133
1    117
Name: target, dtype: int64

In [15]:
thypoid_data.groupby('target').mean()

,id,age,fever,chills,bloating,red_dots_on_skin,loss_of_appetite
target,,,,,,,
0,114.984962,37.421053,1.0,0.518797,0.255639,0.255639,0.315789
1,137.452991,37.717949,1.0,0.435897,0.777778,0.752137,0.769231

In [17]:
thypoid_data.shape

(250, 10)

In [20]:
thypoid_data.isnull().sum()

id                  0
name                0
gender              0
age                 0
fever               0
chills              0
bloating            0
red_dots_on_skin    0
loss_of_appetite    0
target              0
dtype: int64

In [21]:
X=thypoid_data.drop(['id','name','target'],axis=1)
Y=thypoid_data['target']

In [28]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,stratify=Y,random_state=2)

In [31]:
classifier=KNeighborsClassifier()

In [33]:
classifier.fit(X_train,Y_train)

KNeighborsClassifier()

In [35]:
X_train_prediction=classifier.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)
print(training_data_accuracy)

0.7771428571428571

In [37]:
X_test_prediction=classifier.predict(X_test)
X_test_accuracy=accuracy_score(X_test_prediction,Y_test)
print(X_test_accuracy)

0.68

In [38]:
input_data=(61,1,0,0,0,1)
input_data_np_array= np.asarray(input_data)
input_reshape=input_data_np_array.reshape(1,-1)
prediction=classifier.predict(input_reshape)
print(prediction)

if (prediction[0]==1):
  print("YOU HAVE CHOLERA!")
else:
  print("YOU DON'T HAVE CHOLERA!")

[1]
YOU HAVE CHOLERA!

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(