In [53]:
import numpy as np
import pandas as pd
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [54]:
cholera_data=pd.read_csv('/content/CholeraSymptoms.csv')
cholera_data.head()

,id,name,gender,fever,headaches_and_nausea,vomiting,fatigue,severe_dehydration,diarrhea,pain_in_abdomen,target
0,1,Ulick,Male,1,1,1,0,0,0,1,0
1,2,Brynna,Female,1,1,1,0,1,1,1,1
2,3,Ahmad,Male,1,0,1,1,0,1,0,0
3,4,Randell,Male,1,0,0,1,0,1,0,0
4,5,Charlton,Male,1,1,0,0,1,0,0,0

In [55]:
cholera_data.isnull().sum()

id                      0
name                    0
gender                  0
fever                   0
headaches_and_nausea    0
vomiting                0
fatigue                 0
severe_dehydration      0
diarrhea                0
pain_in_abdomen         0
target                  0
dtype: int64

In [56]:
cholera_data.shape

(150, 11)

In [57]:
cholera_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    150 non-null    int64
 1   name                  150 non-null    object
 2   gender                150 non-null    object
 3   fever                 150 non-null    int64
 4   headaches_and_nausea  150 non-null    int64
 5   vomiting              150 non-null    int64
 6   fatigue               150 non-null    int64
 7   severe_dehydration    150 non-null    int64
 8   diarrhea              150 non-null    int64
 9   pain_in_abdomen       150 non-null    int64
 10  target                150 non-null    int64
dtypes: int64(9), object(2)
memory usage: 13.0+ KB

In [58]:
cholera_data.groupby('target').mean()

,id,fever,headaches_and_nausea,vomiting,fatigue,severe_dehydration,diarrhea,pain_in_abdomen
target,,,,,,,,
0,76.605634,1.0,0.450704,0.239437,0.492958,0.225352,0.281690,0.478873
1,74.506329,1.0,0.481013,0.746835,0.645570,0.759494,0.620253,0.506329

In [59]:
#VERY IMPORTANT FOR MACHINE LEARNING

cholera_data['target'].value_counts()

1    79
0    71
Name: target, dtype: int64

In [60]:
X=cholera_data.drop(['id','name','gender','target'],axis=1)
Y=cholera_data['target']

In [61]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,stratify=Y,random_state=2)

In [62]:
classifier=svm.SVC(kernel='linear')

In [63]:
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

In [64]:
X_train_prediction=classifier.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [67]:
X_test_prediction=classifier.predict(X_test)
X_test_accuracy=accuracy_score(X_test_prediction,Y_test)

In [71]:
input_data=(1,1,1,0,1,1,1)
input_data_np_array= np.asarray(input_data)
input_reshape=input_data_np_array.reshape(1,-1)
prediction=classifier.predict(input_reshape)
print(prediction)

if (prediction[0]==1):
  print("YOU HAVE CHOLERA!")
else:
  print("YOU DON'T HAVE CHOLERA!")

[1]
YOU HAVE CHOLERA!

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(